sources:
    /tmp/assets: https://s3.us-east-2.amazonaws.com/eventmanangemt/assets.zip
    /tmp/vendor: https://s3.us-east-2.amazonaws.com/eventmanangemt/vendor.zip

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_vendor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR
      rm -rf vendor/
      mkdir vendor
      mv /tmp/vendor/vendor/* vendor
      cd public
      rm -rf assets/
      mkdir assets
      mv /tmp/assets/assets/* assets
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * . /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan schedule:run 1>> /dev/null 2>&1
