sources:
    /tmp: https://s3.us-east-2.amazonaws.com/eventmanangemt/assets.zip
    /tmp: https://s3.us-east-2.amazonaws.com/eventmanangemt/vendor.zip

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_vendor.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR
      rm -rf vendor/
      mkdir vendor
      mv /tmp/vendor/* vendor
      cd public
      rm -rf assets/
      mkdir assets
      mv /tmp/assets/* assets